<?xml version="1.0" encoding="utf-8"?>
<!--
  Дополнительные сведения о настройке приложения ASP.NET см. на странице
  https://go.microsoft.com/fwlink/?LinkId=169433.
  -->
<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <sectionGroup name="Nat.SqlDbInitializer" type="Nat.SqlDbInitializer.DbInitializerSectionGroup, Nat.SqlDbInitializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415">
      <section name="DbInitializer" type="Nat.SqlDbInitializer.DbInitializerSection, Nat.SqlDbInitializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415" />
    </sectionGroup>
    <sectionGroup name="Nat.Initializer" type="Nat.Web.Tools.Initialization.InitializerSectionGroup, Nat.Web.Tools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415">
      <section name="Initializer" type="Nat.Web.Tools.Initialization.InitializerSection, Nat.Web.Tools, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415" />
    </sectionGroup>
    <sectionGroup name="Nat.WebReportManager" type="Nat.Web.ReportManager.ReportInitializerSectionGroup, Nat.Web.ReportManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415">
      <section name="ReportInitializer" type="Nat.Web.ReportManager.ReportInitializerSection, Nat.Web.ReportManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415" />
    </sectionGroup>
  </configSections>
  <!--
    Описание изменений web.config см. по адресу http://go.microsoft.com/fwlink/?LinkId=235367.

    Следующие атрибуты можно установить с помощью тега <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="Ext.Net" />
        <!--<add namespace="Ext.Net.MVC"/>-->
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
    <authentication mode="Windows" />
    <identity impersonate="true" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net" culture="neutral" publicKeyToken="2e12ce3d0176cd87" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.3.31243" newVersion="2.5.3.31243" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Base" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2009.1.400.0-2017.2.0.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Controls" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2009.1.400.0-2017.2.0.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Database" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2009.1.400.0-2017.2.0.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Editor" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2009.1.400.0-2017.2.0.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2017.2.1.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Stimulsoft.Report.Web" publicKeyToken="ebe6666cba19647a" culture="neutral" />
        <bindingRedirect oldVersion="2009.1.400.0-2017.2.0.0" newVersion="2017.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <extnet theme="Gray" licenseKey="** Ext.NET LICENSE KEY HERE **" />
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=.\sqlexpress2014;Initial Catalog=Sample;Integrated Security=True" />
  </connectionStrings>
  <Nat.SqlDbInitializer>
    <DbInitializer connectionStringName="DefaultConnectionString"></DbInitializer>
  </Nat.SqlDbInitializer>
  <Nat.Initializer>
    <Initializer>
      <initializerClasses>
        <add className="Nat.SqlDbInitializer.DbInitializer, Nat.SqlDbInitializer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415" />
        <add className="Nat.Web.ReportManager.ReportManagerInitializer, Nat.Web.ReportManager, Version=1.0.0.0, Culture=neutral, PublicKeyToken=11c252a207597415" />
      </initializerClasses>
      <datasources>
      </datasources>
    </Initializer>
  </Nat.Initializer>
  <Nat.WebReportManager>
    <ReportInitializer>
      <reportPlugins>
      </reportPlugins>
    </ReportInitializer>
  </Nat.WebReportManager>
</configuration>